@font-face {
    font-family: "vazir";
    src: url(/font/Vazir-Medium-FD-UI.woff);
    font-weight: normal;
}

@font-face {
    font-family: "vazir";
    src: url(/font/Vazir-Regular-FD-UI.eot);
    font-weight: lighter;
}

:root {
    --mainBlue: #40ACF1;
    --transparentBlue: #40acf1b3;
    --mainWhite: #FFFFFF;
    --mainBlack: #292F36;
    --mainGrey: #f5f6f8;
    --mainYellow: #e3b505;
    --mainOrange: #ff9100;
}

body {
    font-family: "vazir";
    background: var(--mainWhite);
    direction: rtl;
}


/** REM values to target root element 1REM = 16px */

.logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.nav-link {
    color: var(--mainBlack);
    font-size: 20px;
}

.height-max {
    min-height: calc(100vh - 12vh);
    background-image: url(/images/banner2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
    background-attachment: fixed;
}

.header-text-up,
.header-text-down {
    color: var(--mainWhite);
}

.header-text-down {
    font-size: 1.4rem;
    padding: 15px;
    border-right: .5rem solid var(--transparentBlue);
    border-radius: 5px;
}

.btn-demo {
    width: 12rem;
    border-radius: 15px;
    background-color: var(--mainOrange);
    margin: 2rem 20rem 0 0;
}


/* ......end of header..... */

.intro-title {
    font-size: 2.8rem;
}

.intro-title-up {
    background-color: var(--mainBlue);
    padding: 0 20px;
    clip-path: polygon(13% 0, 100% 0%, 89% 100%, 0% 100%);
}

.intro-description {
    height: auto;
    padding: 2rem;
    background-color: var(--mainGrey);
    border-radius: 15px;
    text-align: justify !important;
    line-height: 2.8rem;
    font-size: 1.35em;
    font-weight: normal;
}